---
import "aos/dist/aos.css";

import "@/styles/fonts.css";
import "@/styles/globals.css";

import Footer from "@/components/Footer.astro";

interface Props {
  pageTitle: string;
  pageDescription: string;
  canonicalUrl: URL;
  preloadImages?: string[];
}

const { pageTitle, pageDescription, canonicalUrl, preloadImages } = Astro.props;
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    {
      preloadImages &&
        preloadImages.map((imageSrc) => (
          <link rel="preload" as="image" href={imageSrc} />
        ))
    }
    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content="https://ecovidapangeia.com/logo.webp" />
    <meta property="og:url" content="https://ecovidapangeia.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
    <slot name="json-ld-data" />
    <script>
      import AOS from "aos";

      AOS.init();
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7NW6V9N0G1"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7NW6V9N0G1");
    </script>
    <!-- Google tag (gtag.js) -->
  </head>
  <body class="font-roboto">
    <div
      class="min-h-[100dvh] max-w-[100dvw] overflow-hidden grid grid-rows-[1fr_auto]"
    >
      <slot name="main" />
      <Footer />
    </div>
  </body>
</html>
